<ion-view view-title="Available games">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content style = "background-color:#80DEEA">
<!-- Here are games, which were created before-->
      
      <div class="list card calm-bg" style = "background-color:#FFEB3B" ng-repeat="game in games">
                <div class="item item-avatar game-desc">
                    <img src="../img/navigation.png">
                    <h2>{{game.name}}</h2>
                    <p>Difficulty: {{game.difficulty}}</p>
                </div>
                <div class="item item-body game-desc">
                   <span>
                       {{game.description}}
                    </span>
                    <p>
                        <a class="subdued"> <i class="icon ion-clock"></i>  {{game.timecompl}}</a>
                        <a class="subdued"> <i class="icon ion-android-textsms"></i>   5 Comments</a>
                    </p>
                    
                    <button id="fab" class="button button-balanced icon ion-ios-game-controller-b-outline button-fab button-fab-bottom-right" ng-click = "gameSelect(game.name)">
                </div>
            </div>
  </ion-content>
</ion-view>
