<ion-view view-title="Intro">
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <button class="button button-icon icon ion-close-round" ng-click="game.abort()"></button>
    </div>
    <h1 class="title">{{'new_game' | translate}}</h1>
  </ion-header-bar>
  <div class="bar bar-subheader">
    <div class="buttons" ng-show="game.showSlideButtons().showPrevious">
      <button class="button button-icon icon ion-arrow-left-c" ng-click="game.previousSlide()"></button>
    </div>
    <h2 class="title">{{'NEWGAME_STEP1' | translate}}</h2>
    <div class="buttons">
      <button class="button button-icon icon ion-arrow-right-c" ng-click="game.nextSlide()" ng-show="game.showSlideButtons().showNext"></button>
      <button class="button button-icon ion-checkmark-round" ng-show="game.showSlideButtons().saveButton"></button>
    </div>
  </div>
  <ion-content class="has-subheader">
    <ion-slide-box on-slide-changed="game.slideChanged($index)" style="height: 100%;" show-pager="false">

      <!-- Step 1:  General Information -->
      <ion-slide>
        <div class="page_maininfo">
          <div class="page_content">
            <div class="content">
              <div class="main_info">
                <div class="row">
                  <span class="input-label">{{'game_title' | translate}}</span>
                  <input ng-class = "{empty_field: emptyFields[0]}"  type="text" ng-model="game.newgame.name" required>
                </div>
                <div class="row">
                  <span class="input-label">{{'game_description' | translate}}</span>
                  <textarea rows="4" ng-class = "{empty_field: emptyFields[1]}" ng-model="game.newgame.description" required> </textarea>
                </div>
                <div class="row">
                  <span>{{'time_compl' | translate}}</span>
                  <input type="text" ng-class = "{empty_field: emptyFields[2]}" class="input_time" ng-model="game.newgame.timecompl" required>
                </div>
                <div class="row_diff row">
                    <div class="diff_rate">
                        <div class="diff_title">
                            <span> {{'difficulty' | translate}}</span>
                        </div>
                        <span>
                           <a ng-click = "rateGame(0)">
                               <i class = {{diff[0]}} style="font-size:2em;color:#FFEB3B;"></i>
                           </a>
                           <a ng-click = "rateGame(1)">
                               <i class = {{diff[1]}} style="font-size:2em;color:#FFEB3B;"></i>
                           </a>
                           <a ng-click = "rateGame(2)">
                               <i class = {{diff[2]}} style="font-size:2em;color:#FFEB3B;"></i>
                           </a>
                           <a ng-click = "rateGame(3)">
                               <i class = {{diff[3]}} style="font-size:2em;color:#FFEB3B;"></i>
                           </a>
                           <a ng-click = "rateGame(4)">
                               <i class = {{diff[4]}} style="font-size:2em;color:#FFEB3B;"></i>
                           </a>
                        </span>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      
      <ion-slide>
        <div class="page_maininfo page2">
          <div class="page_content">
            <div class="content">
              <div class="act_conts">
                <div class="act">
                  <a ng-click="chooseActType(1)">
                    <div class="act_cont" ng-class="{isChoosen: act_type == 1}">
                      <div class="dest_route">
                        <div style="margin-bottom:25px;">
                          <p>Find Destination</p>
                        </div>
                        <div><img src="./img/icons/dest.svg"></div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="act">
                  <a ng-click="chooseActType(2)">
                    <div class="act_cont" ng-class="{isChoosen: act_type == 2}">
                      <div class="dest_route">
                        <div style="margin-bottom:25px;">
                          <p>Follow Route</p>
                        </div>
                        <!-- <div style = "margin-bottom:25px;"><p style="font-size:2vh;">Students will follow the route, consisting of several points</p></div> -->
                        <div><img src="./img/icons/route.svg"></div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        slide 3  
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>