<ion-modal-view>
  <ion-header-bar class="">

    <h1 class="title">Add Waypoint</h1>

    <div class="buttons">
      <button class="button button-clear" ng-click="modal.hide()">Cancel</button>
    </div>

  </ion-header-bar>

  <ion-content class="padding">

    <form name="Form" class = "form-background">

      <div class="list">

      </div>

      <div class="padding">
          <button class="button button-block button-balanced" ng-click="saveWaypoint()">Save</button>
          <button class="button button-block button-balanced" ng-click="closeModal()">Back</button>     
      </div>

    </form>

  </ion-content>

</ion-modal-view>