<ion-view view-title="Start Menu">
  <ion-content class="padding">
      
      <div class="row">
        <div class="col-33 col-offset-10">
           <div class="list card">
               <div class="item item-avatar">
                    <img src="img/student.jpg">
                    <h2>For Students</h2>
               </div>
               <div class="item item-body">
                <p>
                  Start learning geography by searching places on the map,
                  receiving not only great marks, but also a huge amount of positive
                  memories. Make your parents finally proud!
                </p>
              </div>
               <a class="item item-icon-left assertive" href="#/tab/avgames">
                   <i class="icon ion-map"></i>
                   Start Playing
               </a>
            </div>
          </div>
        <div class="col-33 col-offset-10">
             <div class="list card">
                 <div class="item item-avatar">
                    <img src="img/prof.jpg">
                    <h2>For Teachers</h2>
               </div>
                 
               <div class="item item-body">
                <p>
                  Start creating fun tasks for your belowed students! Let them learn geography in 
                  a fun and excited way and always remember: “Geography is just physics slowed down, with a couple of trees stuck in it.” 
                </p>
              </div>
                <a class="item item-icon-left assertive" href="#/tab/teachmenu">
                   <i class="icon ion-settings"></i>
                   Start Creating
               </a>
            </div>
        </div>
</div
      

  </ion-content>
</ion-view>
