<ion-view view-title="Start Menu">

  <ion-content>
    <div class="row responsive-sm">
      <div class="col">
        BANNER
      </div>
    </div>
    <div class="row responsive-sm">
      <div class="col col-50">
        <div class="card">

          <div class="item item-avatar">
            <img src="./img/icons/Student.png">
            <h2>OriGami für Schüler</h2>
            <p>{{'start_info_stud' | translate}}</p>
          </div>

          <div class="item item-body">
            <p>
              {{'start_info_stud' | translate}}
            </p>
            <p>
              <a ui-sref="tab.avgames">Spiele</a>
            </p>
          </div>

        </div>
      </div>
      <div class="col col-50">
        <div class="card">

          <div class="item item-avatar">
            <img src="./img/icons/Professor.png">
            <h2>OriGami für Lehrer</h2>
            <p>{{'start_info_teach' | translate}}</p>
          </div>

          <div class="item item-body">
            <p>
              {{'start_info_teach' | translate}}
            </p>
            <p>
              <a ui-sref="tab.teachmenu">Lehrer</a>
            </p>
          </div>

        </div>
      </div>
    </div>
  </ion-content>
 </ion-view>
