<ion-view view-title="App information">
    <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content style = "background-color:#80DEEA; height: 100%;">
      <div class = "lang-tab">
          <div class="information">
              <i class="icon ion-chatbubble"></i>
              <h1>Choose the Language</h1>
          </div>
      </div>
      
      <div class="list animate-fade-slide-in-right" style = "background-color:#80DEEA; height:100%; position:relative;">
          <div style = "position:absolute;left:25%;top:10%;width:50%;height:50%;" >
              <img src = "/../img/icons/Germany.png">
          </div>
          <div style = "position:absolute;right:25%;top:10%;">
               <img src = "../img/icons/Portugal.png">
          </div>
          <div style = "position:absolute;left:25%;top:30%;">
               <img src = "../img/icons/Spain.png">
          </div>
          <div style = "position:absolute;right:25%;top:30%;">
               <img src = "../img/icons/United-Kingdom.png">
          </div>
      </div>
  </ion-content>
</ion-view>
