<ion-view view-title="Games">
    <ion-nav-bar class="bar-positive">
           <ion-nav-back-button></ion-nav-back-button>
       </ion-nav-bar>
<ion-content>
      <div class = "game-backg">
          <h2>New Game</h2>
          <p>Add several activities and tasks for each activity</p>
          <div class="game-type">
              <button class="button icon-left ion-arrow-graph-up-right" style = "background-color:#FFEB3B" ui-sref="tab.pathplan" ng-click = "pathGame()" style="color:black;">Path Planning</button>
              <button class="button icon-right ion-location"  style = "background-color:#FFEB3B" ui-sref="tab.aidnavig" ng-click = "aidGame()" style="color:black;">Aided Navigation</button>
          </div>
          <button class="button button-fab button-fab-bottom-right button-positive icon ion-checkmark-round waves-effect waves-button waves-light" ng-click= "submitGame()" ui-sref="tab.teachmenu"></button>
          <button class="button button-fab button-fab-bottom-left button-positive icon ion-chevron-left waves-effect waves-button waves-light" ng-click = "cancelGame()"></button>
      </div>
      <label class="item item-input">
        <span class="input-label">Game Title</span>
        <input type="text" ng-model = "newgame.title" placeholder="Game Title" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Game Description</span>
        <input type="text" ng-model = "newgame.description" placeholder="Short description" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Time of completion</span>
        <input type="text" ng-model = "newgame.time" placeholder="How long will it take to finish the game?" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Difficulty</span>
        <input type="text" ng-model = "newgame.difficulty" placeholder="How difficult this game is?" required>
      </label>
    
    <div class="createdAct">
        
    </div>
    
    <ion-list>
        <div ng-repeat="act in navactivities">
          <ion-item class="item-stable item-icon-left item-icon-right assertive" ng-click="toggleActivity(act)" ng-class="{active: isActivityShown(act)}">
              <i class="icon" ng-class="isActivityShown(act) ? 'ion-minus' : 'ion-plus'"></i>
               <p style="font-size:2em;">Activity: {{act.type}}</p>
               <p>Number of Points: {{act.acts.length}}</p>
              <i class="icon ion-ios-game-controller-b-outline" ui-sref="tab.quest"></i>
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in act.acts[0].tasks"
                    ng-show="isActivityShown(act)">
            {{item}}
          </ion-item>
        </div>
      </ion-list>
    
    
  </ion-content>
</ion-view>
