<ion-view  view-title="Games">
    <ion-nav-bar align-title = "center" class="bar-positive">
       </ion-nav-bar>
<ion-content>
      <div class = "game-backg">
          <h2>New Game</h2>
          <p>Add several activities and tasks for each activity</p>
          <div class="game-type">
              <button class="button icon-left ion-arrow-graph-up-right" style = "background-color:#FFEB3B" ui-sref="tab.pathplan" ng-click = "pathGame()" style="color:black;">Find destination</button>
              <button class="button icon-right ion-location"  style = "background-color:#FFEB3B" ui-sref="tab.aidnavig" ng-click = "aidGame()" style="color:black;">Follow route</button>
          </div>
          <button class="button button-fab button-fab-top-right button-positive icon ion-checkmark-round waves-effect waves-button waves-light" ng-click= "submitGame()"></button>
          <button class="button button-fab button-fab-top-left button-positive icon ion-chevron-left waves-effect waves-button waves-light" ng-click = "cancelGame()"></button>
      </div>
      <label class="item item-input input-info">
        <span class="input-label">Game Title</span>
        <input type="text" ng-model = "newgame.title" placeholder="Game Title" required>
      </label>
      <label class="item item-input input-info">
        <span class="input-label">Game Description</span>
        <input type="text" ng-model = "newgame.description" placeholder="Short description" required>
      </label>
      <label class="item item-input input-info">
        <span class="input-label">Time of completion</span>
        <input type="text" ng-model = "newgame.time" placeholder="How long will it take to finish the game?" required>
      </label>
      <label class="item item-input input-info">
        <span class="input-label">Difficulty</span>
        <input type="text" ng-model = "newgame.difficulty" placeholder="How difficult this game is?" required>
      </label>
    
    
    <ion-list>
        <div ng-repeat="act in navactivities">
          <ion-item class="item-positive item-icon-left item-icon-right assertive activity-new" ng-click="toggleActivity(act)" ng-class="{active: isActivityShown(act)}">
              <i class="icon" ng-class="isActivityShown(act) ? 'ion-minus' : 'ion-plus'"></i>
               <p style="font-size:2em; height: 50%;">Activity: {{act.type}}</p>
               <p>Number of Points: {{act.points.length}}</p>
          </ion-item>
          <ion-item class="item-accordion" ng-repeat="item in act.points" ng-show="isActivityShown(act)">
              <div class="points-cont">
                  <div class = "location-icon">
                      <i class="location-icon icon ion-location"> {{item.name}}</i>
                  </div>
                   <p>Number of Tasks: {{item.tasks.length}}</p>
                  <div class="new-task">
                      <i class="icon ion-plus-circled" ng-click ="addTaskPoint(act,item)" ui-sref = "tab.tasktype">  New</i>
                  </div>
                  <div class = "all-tasks">
                      <i class="icon ion-ios-list-outline" ui-sref = "tab.tasktype"> All</i>
                  </div>
              </div>
          </ion-item>
        </div>
      </ion-list>
    
    
  </ion-content>
</ion-view>
