<ion-view view-title="Games">
            <ion-nav-bar class="bar-positive">
           <ion-nav-back-button></ion-nav-back-button>
       </ion-nav-bar>
<ion-content>
      <div class = "game_backg">
          <h2>New Game</h2>
          <p>Add several activities and tasks for each activity</p>
          <button class="button button-fab button-fab-top-right button-assertive icon ion-android-compass waves-effect waves-button waves-light"></button>
      </div>
      <label class="item item-input">
        <span class="input-label">Game Title</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Time of completion</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Difficulty</span>
        <input type="text">
      </label>
      <button class="button button-fab button-fab-bottom-right button-assertive icon ion-plus waves-effect waves-button waves-light"></button>
  </ion-content>
</ion-view>
