<ion-view view-title="Play Game - {{}}">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    
    <!-- Information about how to play the game --> 
    <script id="gameinfo-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar-positive">
                <h1 class="title">Game Info</h1>
                <!-- <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div> -->
            </ion-header-bar>
 
            <ion-content style = "height: 100%; background-color:#fec00f">
<!-- 
		    <h3>Your destination is <b>{{nextDestination}}</b></h3>
                    <h4>Plan your route and start heading towards the destination. The smiley indicates whether you are headed in the right direction.</h4>
-->
               <div class = "plan-route" style = "background-color:#3F51B5">
                   <div class="information">
                       <i class="ion-android-map"></i>
                       <h1>Step 1</h1>
                        <p>Plan your route to destination</p>
                   </div>
                </div>
                
               <div class = "plan-route" style = "background-color:#673AB7;">
                   <div class="information">
                      <i class="ion-android-walk"></i>
                      <h1>Step 2</h1>
                      <p>Start heading towards the destination</p>
                  </div>
            </div>
                
                <div class = "plan-route" >
                    <div class="information">
              <i class="ion-happy-outline"></i>
              <h1>Keep in mind: </h1>
              <p>The smiley indicates whether you are headed in the right direction</p>
          </div>
                </div>
            </ion-content> 
            
        </ion-modal-view>
    </script> 
    
    
    <ion-content scroll=false>
        <div class="map-container" ng-controller="StudentMapCtrl">
            <div id="map">
                <leaflet defaults="map.defaults" center="map.center" markers="map.markers" event-broadcast="map.events" ng-if="map"></leaflet>
            </div>
            <div id="smiley" class="smiley">
                <canvas class="smiley" smiley style="border:0px solid"></canvas>
            </div>
            <button class="button button-fab button-fab-bottom-right next button-calm icon ion-settings waves-effect waves-button waves-light" ui-sref="tab.teachmenu"></button>
        </div>
    </ion-content>
</ion-view>
