<ion-view view-title="Play Game - {{}}" cache-view="false">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <!-- Information about how to play the game -->
    <script id="gameinfo-modal.html" type="text/ng-template">
        <ion-modal-view>
            <!-- <ion-header-bar class="bar-positive">
                <h1 class="title">{{'game_info' | translate}}</h1>
            </ion-header-bar> -->

            <ion-content style="height: 100%; background-color: #1976D2">
                <div class="plan-route" style="background-color:#3F51B5">
                    <div class="information">
                        <div class="info-icon">
                            <i class="ion-android-map"></i>
                           <!-- <h1>{{'step' | translate}} 1</h1> -->
                        </div>
                        <p>{{'plan_route' | translate}}</p>
                    </div>
                </div>

                <div class="plan-route" style="background-color:#673AB7;">
                    <div class="information">
                        <i class="ion-android-walk"></i>
                        <!-- <h1>{{'step' | translate}} 2</h1> -->
                        <p>{{'start_heading' | translate}}</p>
                    </div>
                </div>

                <div class="plan-route">
                    <div class="information">
                        <i class="ion-happy-outline"></i>
                        <!-- <h1>{{'keep_mind' | translate}} </h1> -->
                        <p>{{'smiley_indicates' | translate}}</p>
                    </div>
                </div>
            </ion-content>

            <ion-footer-bar class="bar-positive" ng-click="modal.remove()">
                <p class="title">{{'start_playing' | translate}}</p>
            </ion-footer-bar>

        </ion-modal-view>
    </script>

    <!-- Information about the next waypoint -->
    <script id="waypointinfo-modal.html" type="text/ng-template">
        <ion-modal-view>

            <ion-content style="height: 100%; background-color:#1565C0;">
                <div class="answer_output">
                    <i class="ion-android-pin"></i>
                    <h1>Your task: {{waypoint.name}}</h1>
                    <p> Description: {{waypoint.description}} </p>
                </div>
            </ion-content>

            <ion-footer-bar class="bar-positive" ng-click="modal.remove()">
                <p class="title">Continue</p>
            </ion-footer-bar>

        </ion-modal-view>
    </script>


    <!-- Notify when waypoint is reached -->
    <script id="waypoint-reached-modal.html" type="text/ng-template">
        <ion-modal-view>

            <ion-content style="height: 100%; background-color:#1565C0;">
                <div class="answer_output">
                    <i class="ion-ribbon-a"></i>
                    <h1>{{congratsMessage}} </h1>

                    <p>You reached your goal !</p>
                </div>
            </ion-content>

            <ion-footer-bar class="bar-positive" ng-click="modal.remove()">
                <p class="title">Continue</p>
            </ion-footer-bar>

        </ion-modal-view>
    </script>

    <!-- Game Over Modal -->
    <script id="gameover-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-content style="height: 100%; background-color:#1565C0">
                <div class="answer_output">
                    <img src="./img/icons/Medal.png" />
                    <h1>{{'congrat' | translate}}</h1>
                    <p> {{'you_completed' | translate}} </p>
                    
                    <!-- Facebook Scharing Button -->
                    <button id="fab" ng-show = "shareButtons"  ng-click="shareViaFacebook('I completed OriGami task! ', null, null)" class="button button-positive button-fab" style="background-color:#3b5998"><i class="icon ion-social-facebook" style="color:white"></i></button>
                    
                </div>
            </ion-content>
            
            <ion-footer-bar class="bar-positive" ng-click="modal.remove()">
                <p class="title">Continue</p>
            </ion-footer-bar>

        </ion-modal-view>
    </script>


    <!-- Error Modal -->
    <script id="error-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar-positive">
                <h1 class="title">{{'error' | translate}}</h1>
            </ion-header-bar>

            <ion-content style="height: 100%; background-color:#673AB7">
                <div class="plan-route" style="background-color:#673AB7">
                    <div class="information">
                        <i class="ion-alert-circled"></i>
                        <h1>{{'error' | translate}}</h1>
                        <p> {{errorMsg}} </p>
                    </div>
                </div>
            </ion-content>
            <ion-footer-bar class="bar-positive" ng-click="modal.remove()">
                <p class="title">OK</p>
            </ion-footer-bar>

        </ion-modal-view>
    </script>

    <!-- Georefencing Game Modal -->
    <script id="georef-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar-positive">
                <h1 class="title">{{'geo_refer' | translate}}</h1>
            </ion-header-bar>

            <ion-content style="height: 100%; background-color:#673AB7">
                <div class="plan-route" style="background-color:#673AB7">
                    <div class="information">
                        <!--<i class="ion-images"></i> -->
                        <img src="{{geoRefPhoto}}">
                        <h1>{{'picture' | translate}}</h1>
                        <p>{{'picture_taken' | translate}}</p>
                    </div>
                </div>
            </ion-content>
            <ion-footer-bar class="bar-positive" ng-click="modal.remove()">
                <p class="title">OK</p>
            </ion-footer-bar>
        </ion-modal-view>
    </script>

    <!-- Georefencing result Modal -->
    <script id="georef-result-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar-positive">
                <h1 class="title">{{'geo_refer' | translate}}</h1>
            </ion-header-bar>

            <ion-content style="height: 100%; background-color:#673AB7">
                <div class="plan-route" style="background-color:#673AB7">
                    <div class="information">
                        <!--<i class="ion-images"></i> -->
                        <div class="feedback-icon {{georefSmiley}}"></div>
                        <p>Distance to original location</p>
                        <h3 style="color:yellow"> {{georefDistance}} metres</h3>
                    </div>
                </div>
            </ion-content>
            <ion-footer-bar class="bar-positive" ng-click="modal.remove()">
                <p class="title">OK</p>
            </ion-footer-bar>
        </ion-modal-view>
    </script>


    <!-- QA  Game Modal -->
    <script id="qa-modal.html" type="text/ng-template">
        <ion-modal-view style="padding: 0; margin:0; dispay:block; ">
            <div class="question">
                <h1 class="description">Now answer the question: </h1>
                <h1 class="question_title">{{task.question}}</h1>
                <button id="fab" ng-show="answerPicked" ng-click="checkAnswer(); modal.remove()" class="button button-positive button-fab" style="background-color:#FFFF00"><i class="icon ion-android-done" style="color:#1565C0"></i></button>
            </div>
            <div class="answers">
                <div class="answer1" ng-click="chooseAnswer(task.answers[0], 0)" ng-class="{'clicked_ans': clicked[0]}">
                    <h1>{{task.answers[0]}}</h1></div>
                <div class="answer2" ng-click="chooseAnswer(task.answers[1], 1)" ng-class="{'clicked_ans': clicked[1]}">
                    <h1>{{task.answers[1]}}</h1></div>
                <div class="answer3" ng-click="chooseAnswer(task.answers[2], 2)" ng-class="{'clicked_ans': clicked[2]}">
                    <h1>{{task.answers[2]}}</h1></div>
                <div class="answer4" ng-click="chooseAnswer(task.answers[3], 3)" ng-class="{'clicked_ans': clicked[3]}">
                    <h1>{{task.answers[3]}}</h1></div>
            </div>
        </ion-modal-view>
    </script>



    <!-- QA result Modal -->
    <script id="qa-result-modal.html" type="text/ng-template">
        <ion-modal-view style="padding: 0; margin:0; dispay:block; background-color: #03A9F4;">

            <ion-content style="height: 100%; background-color:#1565C0;">
                <div class="answer_output">
                    <i class="{{icon}}"></i>
                    <h1>{{answerResult}}</h1>
                </div>
            </ion-content>

            <ion-footer-bar class="bar-positive" ng-click="modal.remove()">
                <p class="title">Continue</p>
            </ion-footer-bar>

        </ion-modal-view>
    </script>



    <div class="bar bar-subheader bar-assertive" ng-show="showInfo" class="ng-show">
        <h2 class="title">{{subHeaderInfo}}</h2>
    </div>

    <ion-content scroll=false>
        <div class="map-container" ng-controller="StudentMapCtrl">
            <div id="map">
                <leaflet defaults="map.defaults" center="map.center" paths="map.paths" markers="map.markers" event-broadcast="map.events" ng-if="map"></leaflet>
            </div>
            <div id="smiley" class="smiley">
                <canvas class="smiley" smiley></canvas>
                <img class="bearing" src="./img/bearing.png" alt="ARROW" style="transform: rotate({{bearing}}deg)">
            </div>
            <!-- <button class="button button-fab button-fab-bottom-right next button-calm icon ion-settings waves-effect waves-button waves-light" ui-sref="tab.teachmenu"></button> -->
            <button class="button button-fab button-fab-bottom-right next {{geoLocButtonColor}} icon ion-android-locate waves-effect waves-button waves-light" ng-click="toggleGeoLocation(true)"></button>
        </div>
    </ion-content>

</ion-view>