<ion-view view-title="Games">
    <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
      <!-- Here are games, which were created before-->
      <!-- The only difference is that teacher can change settings of the game and create new games -->
    <div class="card in done" ng-repeat="item in list" >
        <a class="item clear-bg">
            <h2 style="font-size:2.5em; color:#387ef5; ">{{ item.name }}</h2>
            <p style="color:#387ef5">{{item.Description}}</p>
            <div class="card-footer text-right">
               <i class="icon ion-chatboxes positive"></i>
               2
               <i class="icon ion-heart assertive"></i>
               4
               <i class="icon ion-clock"></i>
               {{ item.duration }}
               <i class="icon ion-clock"></i>
               {{ item.difficulty }}
             </div>
        </a>
   </div>
   <div class="card" >
      <div class="item item-text-wrap" ng-show="noData">
         <span>
            There are no games created at the moment. CLick <a href="javascript:" ng-click="newTask()">Here</a> and create one
         </span>
      </div>
   </div>
      
      <button class="button button-fab button-fab-bottom-right button-assertive icon ion-plus waves-effect waves-button waves-light" ui-sref="tab.newgame"></button>
  </ion-content>
</div>
</ion-view>