<ion-view align-title="center" view-title="Games">
    <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content style = "background-color:#80DEEA">
      <!-- Here are games, which were created before-->
      <!-- The only difference is that teacher can change settings of the game and create new games -->
      
       <div class="list card"  style = "background-color:#FFEB3B" ng-repeat="item in list">
                <div class="item item-avatar game-desc">
                    <img src="/www/img/navigation.png">
                    <h2>{{item.name}}</h2>
                    <p>Difficulty: {{item.difficulty}}</p>
                </div>
                <div class="item item-body game-desc">
                   <span>
                       {{item.description}}
                    </span>
                    <p>
                        <a class="subdued"> <i class="icon ion-clock"></i>  {{item.timecompl}}</a>
                        <i class="icon ion-trash-a"  ng-click="deleteItem('{{item.name}}',item)">  Delete</i>
                        <!-- <i class="icon ion-edit">  Edit</i> -->
                    </p>
                </div>
            </div>
           
           
   <div class="card" >
      <div class="item item-text-wrap" ng-show="noData">
         <span>
            There are no games created at the moment. CLick <a href="javascript:" ng-click="newTask()">Here</a> and create one
         </span>
      </div>
    </div>
          <button id="fab" class="button button-positive icon ion-plus button-fab button-fab-bottom-right" ng-click = "createGame()" ui-sref="tab.newgame">
      </div>
  </ion-content>
</div>
</ion-view>