<ion-view cache-view="false" align-title="center" style="background-color:#53DF83;" view-title="Created Games">

    <ion-header-bar align-title="center" class="bar-positive">
      <div class="buttons">
        <button class="button button-icon icon ion-arrow-left-c" ng-click="menu.goBack()"></button>
      </div>
      <h1 class="title">{{'TEACHMENU_HEADER' | translate}}</h1>
      <div class="buttons">
        <button class="button button-icon icon ion-plus-round" ng-click="startGameCreation()" ui-sref="tab.creategame"></button>
      </div>
    </ion-header-bar>

    <ion-content class="has-header">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="menu.doRefresh()"></ion-refresher>
        <!-- Display error message if http request fails to fetch games -->
        <!-- <div class="padding ui-feedback" ng-show="error_msg != null">
            <div class="ui-feedback-icon">
                <i class="ion-wifi"></i>
            </div>
            <div class="ui-feedback-message">{{error_msg}}</div>
        </div> -->

        <div class="list card" ng-repeat="item in menu.list | orderBy:'name' ">
            <a>
                <div class="item game-desc">
                    <h2>{{item.name}}</h2>
                    <p>{{item.description}}</p>
                    <div class="techm_diffc">
                        <i class={{item.diff[0]}} style="font-size:2vh;color:#03A9F4;"></i>
                        <i class={{item.diff[1]}} style="font-size:2.5vh;color:#03A9F4;"></i>
                        <i class={{item.diff[2]}} style="font-size:3vh;color:#2196F3;"></i>
                        <i class={{item.diff[3]}} style="font-size:3.5vh;color:#2196F3;"></i>
                        <i class={{item.diff[4]}} style="font-size:4vh;color:#2196F3;"></i>
                    </div>
                </div>
                <div class="item item-body teachm_menu">
                    <button class="button icon-left ion-edit button-calm" ng-click="deleteItem(item,'{{item.name}}')">
                      {{'DELETE' | translate}}
                    </button>
                    <button class="button icon-left ion-trash-b button-calm" style="margin-left: 10px;" ui-sref="tab.newgame" ng-click="editItem(item)">
                      {{'EDIT' | translate}}
                    </button>
                </div>
            </a>
        </div>
        <div class="card" ng-show="noData">
            <div class="item item-text-wrap">
                <span>
                    There are no games created at the moment.
                </span>
            </div>
        </div>
    </ion-content>
</ion-view>