<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.origami537234" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>origami</name>
  <description>
    OriGami: An educational game to aid spatial literacy training. For more details visit our website http://enable-project.eu
  </description>
  <author email="geoinformatik@uni-muenster.de" href="http://enable-project.eu/">
    Institute for Geoinformatics, University of Muenster, Germany
  </author>
  <content src="index.html" />
  <access origin="*" />
  <access origin="http://giv-origami.uni-muenster.de/*" />
  <access origin="http://*.uni-muenster.de/*" />
  <allow-intent href="geo:*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <preference name="webviewbounce" value="false" />
  <preference name="UIWebViewBounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="android-minSdkVersion" value="16" />
  <preference name="BackupWebStorage" value="none" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true" />
  </feature>
</widget>
