<ion-view align-title="center"  view-title="Georeference">
    <ion-nav-bar align-title="center" class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
    
  <ion-content style = "background-color:#80DEEA;">
      <div class = "georef">
          <div class="georef_step1">
              <button class="button icon-left ion-camera" style = "background-color:#FFEB3B" style="color:black;">Take a picture</button>
              <img src = "/www/img/background1.jpg"/>
          </div>
          <div class="georef_step2">
              <label class="item item-input item-md-label" placeholder="Username" highlight-color="balanced" type="text"><input type="text"><span class="input-label"></span><div class="highlight highlight-balanced"></div></label>
          </div>
          <div class="georef_step3">
              <button class="button button-fab button-fab-bottom-right button-positive icon ion-checkmark-round waves-effect waves-button waves-light"></button>
              <button class="button button-fab button-fab-bottom-left button-positive icon ion-chevron-left waves-effect waves-button waves-light"></button>
          </div>
      </div>
  </ion-content>
</ion-view>
