<ion-view view-title="App information">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content style="background-color:#80DEEA; height: 100%;">
        <div class="row">
            <div class="col">
                <label class="item item-input text">
                    <textarea placeholder="" rows="1" ng-Required="true" name="description"></textarea>
                </label>
            </div>
        </div>
        
        
    </ion-content>
</ion-view>