<ion-modal-view style="height:75%; "> 
    <ion-content class="qa_page" style="background-color:#64B5F6;" data-tap-disabled="true">
        <div class="quest-tab">
            <div class="information">
                <i class="icon ion-help"></i>
                <h2>Question</h2>
                <h1 style="font-size:15px;"></h1>
                <textarea rows="3" ng-model="qaTask.question"> </textarea>
            </div>
        </div>

        <div class="answers">
            <div class="answer">
                <label class="item item-input item-floating-label ans_inp">
                    <input type="text" ng-model="qaTask.answers[0]" class="wrong-input">
                    <i class="icon ion-checkmark-round wrong"></i>
                </label>
                <div class="photo_c"><img class="photo_ic" src="./img/icons/photo.svg">
                    <label class="photoAns_b" for="photoAns1">Add Photo</label>
                </div>
                <input class="btn inputfile" id="photoAns1" type="file" ng-model="file" multiple accept="image/*" onload="onLoad1" base-sixty-four-input>
                 <img class="anspic_dis" ng-src="data:image/jpeg;base64,{{picFile[0].base64}}" ng-hide = "picFile[0] == null">
            </div>


            <div class="answer">
                <label class="item item-input item-floating-label ans_inp">
                    <input type="text" ng-model="qaTask.answers[1]" class="wrong-input">
                    <i class="icon ion-close-round wrong"></i>
                </label>
                <div class="photo_c"><img class="photo_ic" src="./img/icons/photo.svg">
                    <label class="photoAns_b" for="photoAns2">Add Photo</label>
                </div>
                <input class="btn inputfile" id="photoAns2" type="file" ng-model="file" accept="image/*" onload="onLoad2" base-sixty-four-input>
                 <img class="anspic_dis" ng-src="data:image/jpeg;base64,{{picFile[1].base64}}" ng-hide = "picFile[1] == null">
            </div>

            <div class="answer">
                <label class="item item-input item-floating-label ans_inp">
                    <input type="text" ng-model="qaTask.answers[2]" class="wrong-input">
                    <i class="icon ion-close-round wrong"></i>
                </label>
                <div class="photo_c"><img class="photo_ic" src="./img/icons/photo.svg">
                    <label class="photoAns_b" for="photoAns3">Add Photo</label>
                </div>
                <input class="btn inputfile" id="photoAns3" type="file" ng-model="file" accept="image/*" onload="onLoad3"base-sixty-four-input>
                 <img class="anspic_dis" ng-src="data:image/jpeg;base64,{{picFile[2].base64}}" ng-hide = "picFile[2] == null">
            </div>

            <div class="answer">
                <label class="item item-input item-floating-label ans_inp">
                    <input type="text" ng-model="qaTask.answers[3]" class="wrong-input">
                    <i class="icon ion-close-round wrong"></i>
                </label>
                <div class="photo_c"><img class="photo_ic" src="./img/icons/photo.svg">
                    <label class="photoAns_b" for="photoAns4">Add Photo</label>
                </div>
                <input class="btn inputfile" id="photoAns4" type="file" ng-model="file" accept="image/*" onload="onLoad4" base-sixty-four-input>
                 <img class="anspic_dis" ng-src="data:image/jpeg;base64,{{picFile[3].base64}}" ng-hide = "picFile[3] == null">
            </div>
        </div>

        <div class="navi">
            <button class="button button-block button-balanced save_but" ng-click="submitQA(picFile)">{{'save' | translate}}</button>
        </div>

    </ion-content>
     <a class="skip_b" ng-click = "noTask()"><p style="color:white;">CANCEL</p></a>
</ion-modal-view>