<ion-modal-view>
  <ion-header-bar class="">

    <h1 class="title">Add Several Points</h1>

    <div class="buttons">
      <button class="button button-clear" ng-click="modal.hide()">Cancel</button>
    </div>

  </ion-header-bar>

  <ion-content class="padding">

    <form name="Form">

      <div class="list">

        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="newWaypoint.name" placeholder="" ng-minlength="1" ng-maxlength="10" required></label>
         <label class="item item-input"> 
          <span class="input-label">Description</span>
          <input type="text" ng-model="newWaypoint.description" placeholder="What's Here?" ng-minlength="1" ng-maxlength="1000" required>
        </label>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            LAT : {{newWaypoint.lat }}
          </a>
          <a class="tab-item" href="#">
            LNG : {{newWaypoint.lng }}
          </a>
        </div>
      </div>

      <div class="padding">
          <button class="button button-block button-balanced" ng-click="saveAidPoint()">Save</button>
          <button class="button button-block button-balanced" ng-click="closeModal()">Back</button>     
      </div>

    </form>

  </ion-content>

</ion-modal-view>