<ion-modal-view>
  <ion-header-bar class="">

    <h1 class="title">{{'add_waypoint' | translate}}</h1>

    <div class="buttons">
      <button class="button button-clear" ng-click="modal.hide()">{{'cancel' | translate}}</button>
    </div>

  </ion-header-bar>

  <ion-content class="padding">

    <form name="Form" class = "form-background">

      <div class="list">

        <label class="item item-input">
          <span class="input-label" ng-class="name_border">{{'name' | translate}}</span>
          <input type="text" ng-model="newWaypoint.name" placeholder="" ng-minlength="1" ng-maxlength="100" required></label>
         <label class="item item-input"> 
          <span class="input-label" ng-class ="description_border">{{'description' | translate}}</span>
          <input type="text" ng-model="newWaypoint.description" placeholder="Name of destination" ng-minlength="1" ng-maxlength="500" required>
        </label>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            LAT : {{newWaypoint.lat }}
          </a>
          <a class="tab-item" href="#">
            LNG : {{newWaypoint.lng }}
          </a>
        </div>
      </div>

      <div class="padding">
          <button class="button button-block button-balanced" ng-click="saveWaypoint()">{{'save' | translate}}</button>
          <button class="button button-block button-balanced" ng-click="closeModal()">{{'back' | translate}}</button>     
      </div>

    </form>

  </ion-content>

</ion-modal-view>