/* NEW HOME PAGE ---------------------------------------- */ 
.person-type {
    background-color:#80DEEA; 
    height: 100%;
    position: relative;
}

.person-type .player{
    background-color: #3F51B5;
    height: 50%;
    position: relative;
}

.person-type .player .type-picture{
   height: 100%;
   position: relative;
}
.person-type .player .type-picture img{
   top: 35%;
    left: 5%;
    position: absolute;
}
.person-type .player .type-picture .info{
   height: 100%;
    left: 30%;
    top:35%;
    position: absolute;
    letter-spacing: 0.04em;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	font-family: "Lucida Grande", "Segoe UI", "Arial", sans-serif;
	text-align: center;
    font-style: normal;
    display: block;
}
.person-type .player .type-picture .info h2{
    color: white;
    font-family: 'RobotoDraft', sans-serif;
}

.person-type .player .type-picture .info p{
    color: white;
    font-family: 'Roboto', sans-serif;
}
.person-type .player .type-picture .next{
    right: 5%;
    bottom: 5%;
    position: absolute;
}




.person-type .teacher{
    height: 50%;
    background-color: #FF5752;
}
.person-type .teacher .type-picture{
   height: 100%;
   position: relative;
}
.person-type .teacher .type-picture img{
    top: 25%;
    right: 5%;
    position: absolute;
}
.person-type .teacher .type-picture .info{
   height: 100%;
    width: 60%;
    left: 5%;
    top: 25%;
    position: absolute;
    letter-spacing: 0.04em;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	font-family: "Lucida Grande", "Segoe UI", "Arial", sans-serif;
	text-align: center;
    font-style: normal;
    display: block;
}
.person-type .teacher .type-picture .info h2{
    color: white;
    font-family: 'RobotoDraft', sans-serif;
}

.person-type .teacher .type-picture .info p{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.person-type .teacher .type-picture .next{
    left: 5%;
    bottom: 5%;
    position: absolute;
}



.game-backg{
    height: 180px;
    background-image: url("/www/img/navigation.jpg");
    background-size: cover;
    display: block;
    position: relative;
    
    
}

.game-modal{
     background-image: url("/www/img/1.png");
     background-size: cover;
    height: 100%;
}

.game-backg h2{
    font-size: 2em;
     text-align: center;
     color: white;
    left:5%;
    
}
.game-backg p{
     font-size: 1.5em;
     text-align: center;
    color: white;
    left:5%;
}

.game-type{
    position: absolute;
    bottom: 10%;
    left: 15%;
    display: flex;
    margin: auto;
}

.game-type button{
    margin-left: 10px;
}

.scroll {
  min-height: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.games-cont .fab.button-fab-bottom-right {
    top: auto;
    right: 16px;
    bottom: 16px;
    left: auto;
    position: relative;
}

/* Collapsed list */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}


.createdAct{
    margin-bottom: 20px;
}

/* Tasks creation */
.tasks{
    position: absolute;
    bottom: 10%;
    left: 15%;
    display: flex;
}
.tasks .fab.button-fab{
    
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}
#smiley {
    position: absolute;
    right: 0%;
    top: 2%;
    opacity: 0.7;
}


/* "Play Game" part ------------------ */
.game-desc span{
    font-size: 1.0em;
}
.game-desc h2,.game-desc p, .game-desc p a, .game-desc{
    color: black; 
   font-family: "Lucida Grande", "Segoe UI", "Arial", sans-serif;
  font-style: normal;
}
.game-desc h2{
    font-size: 2em;
}
.game-desc p{
    font-size: 1em;
}


/*Info tab */

.info-tab{
    height:40%;
    background-color: #3F51B5;
    letter-spacing: 0.04em;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	font-family: "Lucida Grande", "Segoe UI", "Arial", sans-serif;
	text-align: center;
    font-style: normal;
    display: block;
    color: #fafafa;
    position:relative;
}
.info-tab .information{
   position: relative;
    top:20%;
}
.info-tab i {
    font-size:5em;
}

.info-tab h1{
    font-size: 2em;
     text-align: center;
     color: white;
}
.info-tab p{
     font-size: 1.5em;
     text-align: center;
    color: white;
}



/* Modal window with explanation of the game rules */
.plan-route{
    height:30%;
    background-color: #3F51B5;
    letter-spacing: 0.04em;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	font-family: "Lucida Grande", "Segoe UI", "Arial", sans-serif;
	text-align: center;
    font-style: normal;
    display: block;
    color: #fafafa;
    position:relative;
    background-color: #fec00f;
}
.plan-route .information{
   position: relative;
}
.plan-route i {
    font-size:5em;
}

.plan-route h1{
    font-size: 2em;
     text-align: center;
     color: white;
}
.plan-route p{
     font-size: 1.5em;
     text-align: center;
    color: white;
}


/* Page where user chooses task types ---------------------------------------- */ 

.task-type {
    background-color:#80DEEA; 
    height: 100%;
    position: relative;
}

.task-type .type1{
    background-color: #673AB7;
    height: 50%;
    position: relative;
}

.task-type .type1 .type-picture{
   height: 100%;
   position: relative;
}
.task-type .type1 .type-picture img{
   top: 35%;
    left: 5%;
    position: absolute;
}
.task-type .type1 .type-picture .info{
   height: 100%;
    left: 30%;
    top:35%;
    position: absolute;
    letter-spacing: 0.04em;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	font-family: "Lucida Grande", "Segoe UI", "Arial", sans-serif;
	text-align: center;
    font-style: normal;
    display: block;
}
.task-type .type1 .type-picture .info h2{
    color: white;
    font-family: 'RobotoDraft', sans-serif;
}

.task-type .type1 .type-picture .info p{
    color: white;
    font-family: 'Roboto', sans-serif;
}
.task-type .type1 .type-picture .next{
    right: 5%;
    bottom: 5%;
    position: absolute;
}




.task-type .type2{
    height: 50%;
    background-color: #fec00f;
}
.task-type .type2 .type-picture{
   height: 100%;
   position: relative;
}
.task-type .type2 .type-picture img{
    top: 25%;
    left: 5%;
    position: absolute;
}
.task-type .type2 .type-picture .info{
   height: 100%;
    left: 30%;
    top:25%;
    position: absolute;
    letter-spacing: 0.04em;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	font-family: "Lucida Grande", "Segoe UI", "Arial", sans-serif;
	text-align: center;
    font-style: normal;
    display: block;
}
.task-type .type2 .type-picture .info h2{
    color: black;
    font-family: 'RobotoDraft', sans-serif;
}

.task-type .type2 .type-picture .info p{
    color: black;
    font-family: 'Roboto', sans-serif;
}

.task-type .type2 .type-picture .next{
    right: 5%;
    bottom: 5%;
    position: absolute;
}


/* Georefence task creation -------------------------- */
.georef{
    height: 100%;
    width:100%;
    position: relative;
}

/* step 1*/
.georef .georef_step1{
    height: 60%;
    width: 100%;
    position: relative;
}

.georef .georef_step1 img{
    heigh: 40%;
    width: 80%;
    left:10%;
    top:20%;
    position: absolute;
}

.georef .georef_step1 button{
    left:30%;
    top:5%;
    position: absolute;
}

/* step 2 */
.georef .georef_step2{
    left:10%;
    height: 30%;
    width: 80%;
    position: relative;
}

.georef .georef_step2 label{
    top: 10%;
    height:70%;
    width: 95%;
}
.georef .georef_step2 label input{
    top: 10%;
    height:70%;
    width: 100%;
}

/* step 3 */
.georef .georef_step3{
    height: 10%;
    width: 100%;
    position: relative;
}


.dev-phase{
     height: 100%;
    width: 60%;
    left: 25%;
    top: 25%;
    position: absolute;
    letter-spacing: 0.04em;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	font-family: "Lucida Grande", "Segoe UI", "Arial", sans-serif;
	text-align: center;
    font-style: normal;
}



.form-background{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("/www/img/april.jpg");
    background-size: cover;
}


.input-info{
     letter-spacing: 0.04em;
	font-family: "Lucida Grande", "Segoe UI", "Arial", sans-serif;
	text-align: left;
    font-style: normal;
}


/* List with all created points and task for each point ------------------*/
.points-cont{
    position: relative;
    height: 100%;
    width: 100%;
}

.points-cont h2{
    position: absolute;
    letter-spacing: 0.04em;
	font-family: "Lucida Grande", "Segoe UI", "Arial", sans-serif;
	text-align: center;
    font-style: normal;
    left: 20%;
}

.points-cont i{
    position: absolute;
    letter-spacing: 0.04em;
	font-family: "Lucida Grande", "Segoe UI", "Arial", sans-serif;
	text-align: center;
    font-style: normal;
    right: 10%;
}
